.header {
    font-size: 28px;
    color:#F9FAF8;
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 0px;
    height: 300px;
    flex: 1 1 0;
}
body {
    margin: 2px;
    border: 0px;
    padding: 0px;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
    
}
button {
    width: 70px;
    height: 25px;
    border-style: none;
    border-radius: 4px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}
img {
    height: 120px;
    width: 300px;
}
.rightside {
    display: flex;
    justify-content: right;
    margin: 40px;
    margin-top: -240px;
}
.leftside {
    margin: 40px;
    margin-top: -240px;
}
.center {
    font-size: 48px;
    font-weight: bolder;
    margin: 80px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;

}
.infotext {
    font-weight: normal;
    font-size: 18px;
    width: 250px;
    height: 80px;
}
.bottom {
    background-color: #1F2937;
    display: flex;
    position: absolute;
    bottom: 0;
    flex: 1 1 0;
    justify-content: center;
    width: 2120px;
}